*{  margin:0px;
  padding:0px;
  box-sizing: border-box; /* las propiedades width y height no incluyen el borde, padding y margin */
  }

html {
	font-size: 10px;
}

body {
	background-color:white;
	width: 100%;
		/*margin: 0 auto; /* centra la pagina */
}

footer {
	display: flex;
	width: 100%;
	background: linear-gradient(#444, #111);
	justify-content: center;
	flex-wrap: wrap; /*permite que los item sea colocado en varias lineas*/
	}

article {
	margin: 2rem;
}

figure {
	text-align: center;
	}

iframe {
	display: block;
	margin: 1rem;
}

img {max-width:100%;}

#img_2 {opacity: 1;}

#img_2:hover {opacity: 0.8;}


.container{
	display: flex;
	flex-wrap: wrap; /*permite que los item sea colocado en varias lineas*/
	justify-content: center; /* space-around;/*Alinea los item, este con margenes y mismas separaciones*/
	width: 100%;
	max-width: 140rem;
	margin: 1rem 0  2rem 0;
}

.Cuerpo{
	width: 100%;
	max-width: 140rem;
	min-height: 70rem;
}

.bloque {
	display: block;
	width: 100%;
}

.pie{
	margin: 1rem;
	width: 20%;
	min-width: 30rem;
}

.centrar{
	display: flex;
	width: 100%;
	justify-content: center;
}
	
.slide{
	margin: 0 auto;
    position: relative; /*absolute;relative*/
}
 
.slide img{
    position: absolute;
}
 
.slide .img2, .slide .img3, .slide .img4 {
    display: none;
}

.boton {
	margin-top: 2rem;
	margin-bottom: 4rem;
	background: linear-gradient(#444, #111);
	width: 35rem;
	height: 4rem;
	color: #999;
	text-transform: uppercase;
	font: bold 1.2rem/2.5rem Arial, Helvetica;
	border-radius: 0.5rem;
}
.boton:hover {
	background: linear-gradient(#04acec,  #0186ba);
	color: white;
}

	@media screen and (max-width:800px) {
		html {
			font-size: 9px;
		}
		.container{
			width: 95%;
			margin: 3rem;
		}
	}

	@media screen and (max-width:400px) {
		html {
			font-size: 8px;
		}
		.container{
			width: 100%;
			margin: 2rem;
		}
	}