/* Barra de MENU */
.menu{
	display: block;
	width: 100%;
	margin: 0;
	padding-top: 1rem;
	list-style: none; 
	background: linear-gradient(#444, #111);
}

.menu li{ 		/* Etiquetas superiores de MENU */
	float: left;
	padding-bottom: 1rem;
	position: relative;
}

.menu a {	/* Afecta a todas Etiquetas a dentro del MENU */
	float: left;
	height: 2.5rem;
	padding: 0 2.5rem; /*derecha e izquierda*/
	color: #999;
	text-transform: uppercase;
	font: bold 1.2rem/2.5rem Arial, Helvetica;
	text-decoration: none;
	/* text-shadow: 0 0.1rem 0 #000; */
}

.menu li:hover > a {
	color: #fafafa;
}

.menu li:hover > ul {
	display: block; /* Permite que se desplegue el MENU */
}

/* Sub-menu */
.menu ul {
    list-style: none; 	/*Oculta viñetas*/
    display: none; 		/*Oculta el submenu*/
    position: absolute;
    top: 3.5rem;
    z-index: 99999;    /*Lo posiciono adelante de todo para que no lo oculte la imagen*/
    background: linear-gradient(#444, #111);
    -moz-box-shadow: 0 0 0.2rem rgba(255,255,255,.5); /*Linea de separacion horizontal entre opciones */
    -webkit-box-shadow: 0 0 0.2rem rgba(255,255,255,.5);
    box-shadow: 0 0 0.2rem rgba(255,255,255,.5);	
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
}

.menu ul ul {
  top: 0;
  left: 15rem; /* Desplazo el segundo submenu a la derecha con el ancho del submenu */
}

.menu ul li {
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 0.2rem 0 #777777; /*Linea de separacion horizontal entre opciones */
    -webkit-box-shadow: 0 1px 0 #111111, 0 0.2rem 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 0.2rem 0 #777777;
}

.menu ul li:last-child { /*Borro la ultima linea de separacion horizontal entre opciones */
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

.menu ul a { /*trabaja con el submenu*/
    padding: 1rem;
	width: 15rem;
	height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
	text-transform: none; /*Elimino la mayuscula*/
}

.menu ul a:hover {
	background: linear-gradient(#04acec,  #0186ba);
}

.menu ul li:first-child > a { /* Bordes redondeados en el primer item del submenu */
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.menu ul li:last-child > a { /* Bordes redondeados en el ultimo item del submenu */
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.menu ul li:first-child > a:after
{
    content: '';
    position: absolute;
    left: 3rem;
    top: -0.8rem;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid yellowgreen;/* #444;*/
}

/* .menu ul ul li:first-child a:after
{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;	
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid white;/* #444;
} 

.menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec;  
}

.menu ul ul li:first-child a:hover:after {
    border-right-color: #04acec; 
    border-bottom-color: transparent; 	
}


/* Clear floated elements */
.menu:after 
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.menu_movil {
	display:none; 
	width: 100%;
	height: 45px;
	list-style: none; 
	background: linear-gradient(#444, #111);
	padding: 10px 0 0 2rem;
	color: #999;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
/* 	text-shadow: 0 1px 0 #000; */
}

@media screen and (max-width:800px) {
	ul li {
		width: 51%;
		/* padding: 5px; */
		/* text-align: left; */
		box-shadow: 0 0.1rem 0 #111111, 0 0.2rem 0 #777777;
	  }
	
	.menu_movil {
		display: block;
	  }

	.menu_movil:hover {
		color: white;
	  }
	
	.menu {
		width: 40rem;
	  	display: none; 
		text-transform: none; /*Elimino la mayuscula*/
	/* 	background: #04acec;  */
	  }
	
	/* Sub-menu */
	.menu ul {
		top: 0.3rem; /* lo posiciono a la misma altura de la opcion padre*/
		left: 20rem; /* Desplazo el segundo submenu a la derecha con el ancho del submenu */
	}

	.menu ul li:first-child > a:after { /* flecha hacia la izquierda */
		left: -8px;
		top: 0.7rem;
		width: 0;
		height: 0;
		border-left: 0;	
		border-bottom: 0.5rem solid transparent;
		border-top: 0.5rem solid transparent;
		border-right: 0.7rem solid white ;
	}
	.menu_movil .bt-menu {
		display:flex;
		justify-content: space-between;
		padding-right: 3rem;
		overflow: hidden;
		font-size:1.8rem;
		font-weight:bold;
		color:#fff;
		text-decoration:none;
	}
}
