h1{
	font-family: Verdana;
	font-size: 2rem;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	text-align: center;
	color: #1D61AB;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	line-height: 150%;
	width: 100%;
	}
	
h2{
	font-family: Verdana;
	font-size: 1.6rem; /** 1.4rem */
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	color: #1D61AB;
	line-height: 150%;
	}
	
h3{
	font-family: Verdana;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	color: #1D61AB;
	line-height: 150%;
	}.T_OiPLUS {
	color: #199bb1;
}

.T_Pie_titulo {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 1.9rem;
	margin-top: 0.7rem;
	color: #00aff0; /*#FF7A18*/
}

.T_Pie {
	border-bottom:0px solid none;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 1.4rem;
	text-indent: 1.5rem;
	margin-top: 0.5rem;
	color: rgb(219, 219, 219);
}

.T_Pie2 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 1.5rem;
	text-indent: 2rem;
	margin-top: 0.5rem;
	color:#FF7A18;
}

a:link, a:visited, a:active {
	text-decoration:none;
}

.T_Link {
	text-decoration: none;
}

.T_Link:hover{color: #1883ba;}

.T_Comun {
	font-family: Verdana;
	font-size: 1.4rem; /*1.4rem;*/
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	text-align: justify;
	color: #444444;
	line-height: 150%}

.T_Rojo {
	color: red;
}

.T_RojoN {
	font-weight: bold;
	color: red;
}
	
.T_Blanco {
	font-family: Verdana;
	font-size: 1.2rem;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	text-align: center;
	color: white;
	line-height: 150%
}
	
.T_Azul {
	font-family: Verdana;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	text-align: center;
	color: #1D61AB;
	line-height: 150%;
}

.T_Verde {
	font-family: Verdana;
	font-size: 1.5rem;
	font-style: normal;
	text-transform: none;
	color: #060;
	line-height: 150%
}

.textbox{
	width: 35rem;
	height: 3rem;
	margin-top: 1rem;
	font-family: Verdana;
	text-indent: 1rem;
	color: #252525;
}

.T_Menu {
	font-family: Verdana;
	font-size: 1.2rem;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	color: #E5622A;
	text-align: center;}

.T_centrar{
	text-align: center;
}
